.App {
  /* text-align: center; */
}



@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom:10px;
  margin-top:10px
}

.App-link {
  color: #61dafb;
}

.table-headers{
  margin-top:30px;
  margin-bottom:10px;
  font-size:20px;
}


